@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400;900&display=swap");
.page {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  width: 100%;
  min-height: 100vh;
  background-color: #f5f7fa;
}

.header {
  margin: 0;
  padding: 0 20px 0 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  background-color: #fff;
  min-width: 100%;
  min-height: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.header__logo {
  padding: 0;
  margin: 0;
  min-width: 150px;
  height: 60px;
  background-image: url("../images/logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.input {
  position: relative;
  margin: 0;
  padding: 5px;
  max-height: 25px;
  min-width: 350px;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  font-family: Inter, Arial, Helvetica, sans-serif;
  border: none;
  border-bottom: 2px solid #0069ff;
  background-color: transparent;
  transition: border 0.125s ease-in-out;
}
.input:hover {
  padding: 5px;
}
.input:focus {
  outline: none;
  border-bottom: 4px solid #0069ff;
}

.results {
  margin: 0 auto;
  padding: 0;
  min-width: 650px;
  max-width: 650px;
}

.results__heading {
  margin: 0 0 15px 0;
  padding: 0;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 900;
  font-family: Inter, Arial, Helvetica, sans-serif;
  color: #48556e;
}

.result {
  position: relative;
  margin: 0 0 15px 0;
  padding: 5px 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: 100%;
  min-height: 50px;
  box-sizing: border-box;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.025);
  border-radius: 10px;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  font-family: Inter, Arial, Helvetica, sans-serif;
}

.result__status {
  font-weight: 900;
}
.result__status_ok {
  background-color: #3ac267;
}
.result__status_error {
  background-color: #e52059;
}
.result__status::before {
  content: "";
  width: auto;
  height: 2px;
  position: absolute;
  bottom: 16px;
  left: 15px;
  right: 15px;
  display: block;
  border-bottom: 2px dotted black;
}

.button {
  padding: 5px 15px;
  margin: 0;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  font-family: Inter, Arial, Helvetica, sans-serif;
  border: none;
  border-radius: 20px;
  background-color: #0069ff;
  color: #f5f7fa;
  cursor: pointer;
}

.content {
  display: grid;
  grid-template-rows: min-content;
}

.form-section {
  margin: 50px 125px 125px 125px;
  padding: 0;
  display: flex;
  justify-content: center;
}

.footer {
  padding: 0 20px;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.footer__copyright {
  padding: 0;
  margin: 0;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  font-family: Inter, Arial, Helvetica, sans-serif;
  color: #48556e;
}

.select {
  position: relative;
  width: 50%;
  height: 29px;
}
.select::after {
  position: absolute;
  box-sizing: border-box;
  z-index: 3;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  display: block;
  content: "";
  pointer-events: none;
  width: 5px;
  height: 5px;
  background-color: transparent;
  border-top: 5px solid #0069ff;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}
.select__input {
  padding: 5px 15px 5px 5px;
  position: relative;
  appearance: none;
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  font-family: Inter, Arial, Helvetica, sans-serif;
  color: #0069ff;
}

.switch {
  position: relative;
  max-width: min-content;
  height: min-content;
}

.switch__input {
  position: relative;
  appearance: none;
  width: 50px;
  height: 20px;
  background-color: #e4e4e4;
  border-radius: 10px;
  outline: none;
  transition: 0.25s ease-in-out;
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.switch__input::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background-color: #f5f7fa;
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  transition: 0.25s ease-in-out;
  z-index: 2;
}
.switch__input:checked {
  background-color: #0069ff;
}
.switch__input:checked::before {
  top: 0;
  left: 100%;
  transform: translateX(-100%);
}

.switch__label {
  position: absolute;
  display: inline;
  top: 50%;
  transform: translateY(-60%);
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  font-family: Inter, Arial, Helvetica, sans-serif;
  color: #48556e;
  pointer-events: none;
  font-weight: 400;
}
.switch__label_off {
  right: 7px;
  color: #0069ff;
}
.switch__label_on {
  left: 5px;
  color: #e4e4e4;
}

.form__switch {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.switch__title {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  font-family: Inter, Arial, Helvetica, sans-serif;
  color: #48556e;
  pointer-events: none;
  font-weight: 400;
  margin-bottom: 10px;
}