@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400;900&display=swap");
.page {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  width: 100%;
  min-height: 100vh;
  background-color: #f5f7fa;
}

.header {
  margin: 0;
  padding: 0 20px 0 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  background-color: #fff;
  min-width: 100%;
  min-height: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.header__logo {
  padding: 0;
  margin: 0;
  min-width: 150px;
  height: 60px;
  background-image: url("./images/logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.input {
  margin: 0;
  padding: 5px 5px 5px 5px;
  max-height: 29px;
  min-width: 350px;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  font-family: Inter, Arial, Helvetica, sans-serif;
  border: none;
  border-bottom: 2px solid #0069ff;
  background-color: transparent;
  transition: all 0.25s ease-in-out;
}
.input:hover {
  padding: 0px 5px 5px 5px;
  border-bottom: 3px solid #0069ff;
}

.results {
  margin: 0 150px;
  padding: 0;
}

.results__heading {
  margin: 0 0 15px 0;
  padding: 0;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 900;
  font-family: Inter, Arial, Helvetica, sans-serif;
}

.result {
  position: relative;
  margin: 0 0 15px 0;
  padding: 5px 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: 100%;
  min-height: 50px;
  box-sizing: border-box;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.025);
  border-radius: 10px;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  font-family: Inter, Arial, Helvetica, sans-serif;
}

.result__status {
  font-weight: 900;
}
.result__status_ok {
  color: #3ac267;
}
.result__status_error {
  color: #e52059;
}
.result__status::before {
  content: "";
  width: auto;
  height: 10px;
  position: absolute;
  bottom: 16px;
  left: 15px;
  right: 15px;
  display: block;
  border-bottom: 2px dotted black;
}

.button {
  padding: 5px 15px;
  margin: 0;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  font-family: Inter, Arial, Helvetica, sans-serif;
  border: none;
  border-radius: 20px;
  background-color: #0069ff;
  color: #f5f7fa;
  cursor: pointer;
}

.content {
  display: grid;
  grid-template-rows: min-content;
}

.form-section {
  margin: 0;
  padding: 125px;
  display: flex;
  justify-content: center;
}

.footer {
  padding: 0 20px;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.footer__copyright {
  padding: 0;
  margin: 0;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  font-family: Inter, Arial, Helvetica, sans-serif;
  color: #48556e;
}